$bt-color:#064d2e;
$bt-font: #fff;
$bt-hover-color:#688dd3;
$bt-height: 50px;
$list: #ba9a32;
$list-bt: 30px;
$wrap-width: 600px;
$wrap-main:480px;

// rwd
$screen600:600px;

@mixin hovers{
    opacity: 1;
    transition: all 0.3s ease;
}

@mixin inputs{
    outline: none;
    border: none;
}

@mixin center{
    display: flex;
    align-items: center;
    justify-content: center;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    a{
        text-decoration: none;
    }
}

body{
    height: 100vh;
    font-family: FreeMono, monospace;
    background-image: linear-gradient(to bottom, #058c90, #040d2f);
    @include center;
}

.line{
    height: 1px;
    width: 90%;
    background-color: #6b6868;
}

.wrapper{
    width: $wrap-width;
    background-color: #0000005f;
    border-radius: 20px;
    padding-bottom: 20px;
    flex-direction: column;
    @include center;
    @media screen and (max-width: $screen600) {
        border-radius: 0;
        width: 100vw;
    }

    .title{
        height: 150px;
        line-height: 150px;
        text-align: center;
        font-size: 70px;
        font-weight: 800;
        letter-spacing: 20px;      
        color: rgb(255, 162, 0);

        @media screen and (max-width: $screen600) {
            height: 80px;
            line-height: 80px;
            font-size: 30px;
        }
    }

    .addbar{
        width: $wrap-main;
        background-color: $list;
        border-radius: 15px 15px 0 0;
        @include center;
        @media screen and (max-width: $screen600) {
            width: 100vw;
        }


        form{
            width: $wrap-main;
            height: $bt-height;
            display: flex;
            justify-content: space-between;
            border-radius: 15px;
            border: 3px solid #196f5b;
            background-color: #ffffff00;
            margin-bottom: 10px;
            @media screen and (max-width: $screen600) {
                width: 100vw;
                border:none;
                padding-top: 10px;
                justify-content: none;
                flex-direction: column;
                height: 120px;
                @include center;
            }

            input[type="text"]{
                width: calc(#{$wrap-main} - 100px);
                height: $bt-height;
                font-size: 25px;
                letter-spacing: 3px;
                border-radius: 20px;
                background-color: #ffffff00;
                padding-left: 30px;
                @include inputs;
                @media screen and (max-width: $screen600) {
                    font-size: 15px;
                    background-color: #ffffff6a;
                    height: 70px;
                    width: 80%;
                    margin-bottom: 10px;
                }
            }

            input[type="submit"]{
                color: $bt-font;
                height: $bt-height;
                width: 100px;
                border: none;
                border-radius: 11px;
                background-color: $bt-color;
                @include center;
                font-weight: 600;
                @media screen and (max-width: $screen600) {
                    width: 80%;
                    font-size: 15px;
                    height: 50px;
                    border-radius: 15px;
                }

                &:hover{
                    background-color: $bt-hover-color;
                    @include hovers;
                }
            }
        }
    }

    .filterbar{
        width: $wrap-main;
        height: $bt-height;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: $list;
        padding-bottom: 10px;

        @media screen and (max-width: $screen600) {
            width: 100vw;
            flex-direction: column;
            height:auto;
            justify-content: center;
        }

        .filter-left{
            display: flex;
            margin-left: 10px;
            @media screen and (max-width: $screen600) {
                margin-bottom: 10px;
            }

            .filters{
                height: $bt-height;
                line-height: $bt-height;
                padding: 0 18px;
                margin-left: 10px;
                background-color: $bt-color;
                border-radius: 15px;
                color: $bt-font;

                &:hover{
                    background-color: $bt-hover-color;
                    @include hovers;
                }
            }
            .select{
                background-color: $bt-hover-color;
            }
            
        }

        .filter-right{
            color: $bt-font;
            margin-right: 20px;
            background-color: #4f4e4eac;
            border-radius: 5px;
            padding: 2px 6px;
            @media screen and (max-width: $screen600) {
                width: 80vw;
                text-align: center;
                border-radius: none;
            }
        }

        
    }
    .list-warp{
        background-color: $list;
        border-radius:0 0 20px 20px;
    

        .list-warper{
            width: $wrap-main;
            display: flex;
            flex-direction: column;
            align-items: center;
            @media screen and (max-width: $screen600) {
                width: 100vw;
            }

            

            .list{
                display: flex;
                justify-content: space-between;
                align-items: center;
                height: $bt-height;
                line-height: $bt-height;
                width: 80%;

                a{
                    width: $list-bt;
                    height: $list-bt;
                    background-color: #4f4e4eac;
                    color: $bt-font;
                    border-radius: 50%;
                    @include center;
                    @media screen and (max-width: $screen600) {
                        width: 40px;
                        height: 40px;
                    }

                    &:hover{
                        background-color: $bt-hover-color;
                        @include hovers;
                    }
                }

                .list-title{
                    font-size: 20px;
                    letter-spacing: 5px;
                    width: 70%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    @media screen and (max-width: $screen600) {
                        width: 50%;
                        overflow: auto;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        -webkit-overflow-scrolling: touch;
                    }
                }

                input{
                    font-size: 20px;
                    letter-spacing: 5px;
                    width: 100%;
                    background-color: #ffffff00;
                    font-family: FreeMono, monospace;
                    color: #ff0000;
                    @include inputs;
                    @media screen and (max-width: $screen600) {
                        width: 50%;
                        text-align: center;
                    }
                }
            }
        }
    }

    .yet{
        text-decoration: line-through;
    }
}

