* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
}
* a {
  text-decoration: none;
}

body {
  height: 100vh;
  font-family: FreeMono, monospace;
  background-image: linear-gradient(to bottom, #058c90, #040d2f);
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  height: 1px;
  width: 90%;
  background-color: #6b6868;
}

.wrapper {
  width: 600px;
  background-color: rgba(0, 0, 0, 0.3725490196);
  border-radius: 20px;
  padding-bottom: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .wrapper {
    border-radius: 0;
    width: 100vw;
  }
}
.wrapper .title {
  height: 150px;
  line-height: 150px;
  text-align: center;
  font-size: 70px;
  font-weight: 800;
  letter-spacing: 20px;
  color: rgb(255, 162, 0);
}
@media screen and (max-width: 600px) {
  .wrapper .title {
    height: 80px;
    line-height: 80px;
    font-size: 30px;
  }
}
.wrapper .addbar {
  width: 480px;
  background-color: #ba9a32;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .wrapper .addbar {
    width: 100vw;
  }
}
.wrapper .addbar form {
  width: 480px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  border: 3px solid #196f5b;
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .wrapper .addbar form {
    width: 100vw;
    border: none;
    padding-top: 10px;
    justify-content: none;
    flex-direction: column;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.wrapper .addbar form input[type=text] {
  width: calc(480px - 100px);
  height: 50px;
  font-size: 25px;
  letter-spacing: 3px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0);
  padding-left: 30px;
  outline: none;
  border: none;
}
@media screen and (max-width: 600px) {
  .wrapper .addbar form input[type=text] {
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.4156862745);
    height: 70px;
    width: 80%;
    margin-bottom: 10px;
  }
}
.wrapper .addbar form input[type=submit] {
  color: #fff;
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 11px;
  background-color: #064d2e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
@media screen and (max-width: 600px) {
  .wrapper .addbar form input[type=submit] {
    width: 80%;
    font-size: 15px;
    height: 50px;
    border-radius: 15px;
  }
}
.wrapper .addbar form input[type=submit]:hover {
  background-color: #688dd3;
  opacity: 1;
  transition: all 0.3s ease;
}
.wrapper .filterbar {
  width: 480px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ba9a32;
  padding-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .wrapper .filterbar {
    width: 100vw;
    flex-direction: column;
    height: auto;
    justify-content: center;
  }
}
.wrapper .filterbar .filter-left {
  display: flex;
  margin-left: 10px;
}
@media screen and (max-width: 600px) {
  .wrapper .filterbar .filter-left {
    margin-bottom: 10px;
  }
}
.wrapper .filterbar .filter-left .filters {
  height: 50px;
  line-height: 50px;
  padding: 0 18px;
  margin-left: 10px;
  background-color: #064d2e;
  border-radius: 15px;
  color: #fff;
}
.wrapper .filterbar .filter-left .filters:hover {
  background-color: #688dd3;
  opacity: 1;
  transition: all 0.3s ease;
}
.wrapper .filterbar .filter-left .select {
  background-color: #688dd3;
}
.wrapper .filterbar .filter-right {
  color: #fff;
  margin-right: 20px;
  background-color: rgba(79, 78, 78, 0.6745098039);
  border-radius: 5px;
  padding: 2px 6px;
}
@media screen and (max-width: 600px) {
  .wrapper .filterbar .filter-right {
    width: 80vw;
    text-align: center;
    border-radius: none;
  }
}
.wrapper .list-warp {
  background-color: #ba9a32;
  border-radius: 0 0 20px 20px;
}
.wrapper .list-warp .list-warper {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .wrapper .list-warp .list-warper {
    width: 100vw;
  }
}
.wrapper .list-warp .list-warper .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  line-height: 50px;
  width: 80%;
}
.wrapper .list-warp .list-warper .list a {
  width: 30px;
  height: 30px;
  background-color: rgba(79, 78, 78, 0.6745098039);
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .wrapper .list-warp .list-warper .list a {
    width: 40px;
    height: 40px;
  }
}
.wrapper .list-warp .list-warper .list a:hover {
  background-color: #688dd3;
  opacity: 1;
  transition: all 0.3s ease;
}
.wrapper .list-warp .list-warper .list .list-title {
  font-size: 20px;
  letter-spacing: 5px;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@media screen and (max-width: 600px) {
  .wrapper .list-warp .list-warper .list .list-title {
    width: 50%;
    overflow: auto;
    text-overflow: clip;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }
}
.wrapper .list-warp .list-warper .list input {
  font-size: 20px;
  letter-spacing: 5px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  font-family: FreeMono, monospace;
  color: #ff0000;
  outline: none;
  border: none;
}
@media screen and (max-width: 600px) {
  .wrapper .list-warp .list-warper .list input {
    width: 50%;
    text-align: center;
  }
}
.wrapper .yet {
  text-decoration: line-through;
}/*# sourceMappingURL=style.css.map */