* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
}
* a {
  text-decoration: none;
}

body {
  height: 100vh;
  font-family: FreeMono, monospace;
  background-image: linear-gradient(to bottom, #058c90, #040d2f);
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  height: 1px;
  width: 90%;
  background-color: #6b6868;
}

.wrapper {
  width: 600px;
  background-color: rgba(0, 0, 0, 0.3725490196);
  border-radius: 20px;
  padding-bottom: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .title {
  height: 150px;
  line-height: 150px;
  text-align: center;
  font-size: 70px;
  font-weight: 800;
  letter-spacing: 20px;
  color: rgb(255, 162, 0);
}
.wrapper .addbar {
  width: 480px;
  background-color: #ba9a32;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .addbar form {
  width: 480px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  border: 3px solid rgba(3, 71, 55, 0.7333333333);
  background-color: rgba(255, 255, 255, 0.7333333333);
  margin-bottom: 10px;
}
.wrapper .addbar form input[type=text] {
  width: calc(480px - 100px);
  height: 50px;
  font-size: 25px;
  letter-spacing: 3px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0);
  padding-left: 30px;
  outline: none;
  border: none;
}
.wrapper .addbar form input[type=submit] {
  color: #fff;
  height: 50px;
  width: 100px;
  border: none;
  border-radius: 11px;
  background-color: #064d2e;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}
.wrapper .addbar form input[type=submit]:hover {
  background-color: #688dd3;
  opacity: 1;
  transition: all 0.3s ease;
}
.wrapper .filterbar {
  width: 480px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ba9a32;
  padding-bottom: 10px;
}
.wrapper .filterbar .filter-left {
  display: flex;
  margin-left: 10px;
}
.wrapper .filterbar .filter-left .filters {
  height: 50px;
  line-height: 50px;
  padding: 0 18px;
  margin-left: 10px;
  background-color: #064d2e;
  border-radius: 15px;
  color: #fff;
}
.wrapper .filterbar .filter-left .filters:hover {
  background-color: #688dd3;
  opacity: 1;
  transition: all 0.3s ease;
}
.wrapper .filterbar .filter-left .select {
  background-color: #688dd3;
}
.wrapper .filterbar .filter-right {
  color: #fff;
  margin-right: 20px;
  background-color: rgba(79, 78, 78, 0.6745098039);
  border-radius: 5px;
  padding: 2px 6px;
}
.wrapper .list-warp {
  background-color: #ba9a32;
  border-radius: 0 0 20px 20px;
}
.wrapper .list-warp .list-warper {
  width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper .list-warp .list-warper .list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  line-height: 50px;
  width: 80%;
}
.wrapper .list-warp .list-warper .list a {
  width: 30px;
  height: 30px;
  background-color: rgba(79, 78, 78, 0.6745098039);
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper .list-warp .list-warper .list a:hover {
  background-color: #688dd3;
  opacity: 1;
  transition: all 0.3s ease;
}
.wrapper .list-warp .list-warper .list .list-title {
  font-size: 20px;
  letter-spacing: 5px;
  width: 70%;
  overflow: hidden;
  text-overflow: ellipsis;
}
.wrapper .list-warp .list-warper .list input {
  font-size: 20px;
  letter-spacing: 5px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  font-family: FreeMono, monospace;
  color: #ff0000;
  outline: none;
  border: none;
}
.wrapper .yet {
  text-decoration: line-through;
}/*# sourceMappingURL=style.css.map */