<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div id="app">
        <div class="wrapper">
            <div class="title">Todo List</div>
<!-- addbar -->
            <div class="addbar">
                <form action="">
                    <input type="text" :autofocus="'autofocus'"  
                        placeholder="What do you want to do ?" 
                        v-model="addtitle"  
                        @keyup.enter="addtodo">
                    <input type="submit" value="ADD" @click.prevent="addtodo" >
                </form>
            </div>

            
<!-- filterbar -->
            <div class="filterbar">
                <ul class="filter-left">
                    <a href="#"><li :class="type == 'Compelet' ? 'filters select' :'filters'" @click="type='Compelet'">Compelet</li></a>
                    <a href="#"><li :class="type == 'Active' ? 'filters select' :'filters'" @click="type='Active'">Active</li></a>
                    <a href="#"><li :class="type == 'All' ? 'filters select' :'filters'" @click="type='All'">All</li></a>
                </ul>

                <div class="filter-right">{{uncompeletnum}} unfinished</div>
            </div>
            
<!-- list-warp -->
            <div class="list-warp">
                <div class="list-warper" v-for="(todo,index) in filters" :key="todo.id">
                    <div class="line"></div>
            <!-- list -->    
                    <div class="list">
                        <a href="#" @click="todo.compelet = !todo.compelet">
                            <div class="check">
                                <i :class="todo.compelet ? 'fa-solid fa-check ': 'fa-solid fa-x'"></i>
                            </div>
                        </a>
                            <div class="list-title" @dblclick="editer(todo,index)" :class="todo.compelet ? 'yet': ''" v-show="!todo.editing" >{{todo.title}}</div>
                            <div class="list-title" v-show="todo.editing" > 
                                <input type="text" :ref="`${todo}`" v-model="todo.title" @keyup.esc="quitediter(todo)" @keyup.enter="editer(todo,index)"> 
                            </div>
                <!-- little bts  -->
                            <a href="#"  @click="editer(todo,index)" v-show="!todo.editing">
                                <div class="edit" ><i class="fa-solid fa-pen"></i></div>
                            </a>
                            <a href="#"  @click="editer(todo,index)" v-show="todo.editing" >
                                <div class="edit" >OK</div>
                            </a>
                            <a href="#" @click="canceltodo(index)">
                                <div class="delete"><i class="fa-solid fa-trash-can"></i></div>
                            </a>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="./todo.js"></script>
</body>
</html>